# Introduction to Deep Learning & Neural Networks with Keras
Part A: Build a baseline model

## Assignment Topic:
In this project, we will build a regression model using the Keras library to model the data about concrete compressive strength.

## Concrete Data:

The data can be found here: [Dataset Link](https://cocl.us/concrete_data)

The predictors in the data of concrete strength include:
1.   Cement
2.   Blast Furnace Slag
3.   Fly Ash
4.   Superplasticizer
5.   Coarse Aggregate
6.   Fine Aggregate

Download the concrete data file from the specified URL using wget

In [ ]:
# Uncomment the following line if you need to download the dataset directly from the download link
# !wget "https://cocl.us/concrete_data" -O concrete_data.csv

--2023-10-03 16:59:31--  https://cocl.us/concrete_data
Resolving cocl.us (cocl.us)... 23.34.82.207, 23.34.82.208, 2600:1402:1400:2d::17df:1f05, ...
Connecting to cocl.us (cocl.us)|23.34.82.207|:443... connected.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv [following]
--2023-10-03 16:59:31--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 58988 (58K) [text/csv]
Saving to: ‘concrete_data.csv’

concrete_data.csv   100%[===================>]  57.61K  --.-KB/s    in 0.02s

2023-10-03 16:59:31 (2.36 MB/s) - ‘concrete_data.csv’ saved [58988/58988]

Import necessary libraries and modules for data manipulation, splitting, metrics, and building a neural network model

In [ ]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

Read the data from a CSV file named 'concrete_data' into a DataFrame (df)

In [ ]:
df = pd.read_csv('concrete_data.csv')

Display the first few rows of the DataFrame to get an initial glimpse of the data

In [ ]:
df.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30


Check the shape of the DataFrame to determine the number of rows and columns

In [ ]:
df.shape

(1030, 9)

Display summary statistics of the DataFrame

In [ ]:
df.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

Display information about the DataFrame, including data types and non-null counts

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Cement              1030 non-null   float64
 1   Blast Furnace Slag  1030 non-null   float64
 2   Fly Ash             1030 non-null   float64
 3   Water               1030 non-null   float64
 4   Superplasticizer    1030 non-null   float64
 5   Coarse Aggregate    1030 non-null   float64
 6   Fine Aggregate      1030 non-null   float64
 7   Age                 1030 non-null   int64
 8   Strength            1030 non-null   float64
dtypes: float64(8), int64(1)
memory usage: 72.5 KB

Calculate the number of missing values (NaN) for each column in the DataFrame

In [ ]:
df.isna().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

Create a list of features by selecting all columns except 'Strength'

In [ ]:
features = [col for col in df.columns if col != 'Strength']
print('features:', features)

features: ['Cement', 'Blast Furnace Slag', 'Fly Ash', 'Water', 'Superplasticizer', 'Coarse Aggregate', 'Fine Aggregate', 'Age']

Extract the 'Strength' column as the target variable and convert it to a NumPy array

In [ ]:
target = df.Strength.to_numpy()

## Task # 01
Randomly split the data into a training and test sets by holding 30% of the data for testing. You can use the train_test_split helper function from Scikit-learn.

In [ ]:
# Split the dataset into training and testing sets with a 70-30 split ratio and a fixed random seed
x_train, x_test, y_train, y_test = train_test_split(df[features], target, test_size=0.3, random_state=0)

print(f'number of rows and number of features in xtrain: {x_train.shape}')
print(f'number of rows in ytrain: {y_train.shape}')
print(f'number of rows and number of features in x_test: {x_test.shape}')
print(f'number of rows in y_test: {y_test.shape}')

number of rows and number of features in xtrain: (721, 8)
number of rows in ytrain: (721,)
number of rows and number of features in x_test: (309, 8)
number of rows in y_test: (309,)

In [ ]:
# Determine the number of columns in the feature dataset
n_cols = df[features].shape[1]
n_cols

8

## Task # 02
Train the model on the training data using 50 epochs.

### Create Regression Model

1.   One hidden layer of 10 nodes, and a ReLU activation function.
2.   Use the adam optimizer and the mean squared error as the loss function.

In [ ]:
# Define a function to create a regression model
def RegressionModel():
    # Create a sequential model
    model = Sequential()
    # One hidden layer of 10 nodes, and a ReLU activation function
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    # Add the output layer with 1 node
    model.add(Dense(1))

    # Compile the model using the Adam optimizer and mean squared error as the loss function
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [ ]:
# Create the regression model
model = RegressionModel()

In [ ]:
# Set the number of training epochs
n_epochs = 50

# Train the model on the training data
model.fit(x_train, y_train, epochs=n_epochs, verbose=1)

Epoch 1/50
23/23 [==============================] - 1s 4ms/step - loss: 1335.7947
Epoch 2/50
23/23 [==============================] - 0s 3ms/step - loss: 709.0170
Epoch 3/50
23/23 [==============================] - 0s 3ms/step - loss: 446.4745
Epoch 4/50
23/23 [==============================] - 0s 4ms/step - loss: 350.0590
Epoch 5/50
23/23 [==============================] - 0s 3ms/step - loss: 303.8536
Epoch 6/50
23/23 [==============================] - 0s 3ms/step - loss: 282.2332
Epoch 7/50
23/23 [==============================] - 0s 3ms/step - loss: 266.5703
Epoch 8/50
23/23 [==============================] - 0s 4ms/step - loss: 252.5384
Epoch 9/50
23/23 [==============================] - 0s 6ms/step - loss: 243.9272
Epoch 10/50
23/23 [==============================] - 0s 7ms/step - loss: 237.0764
Epoch 11/50
23/23 [==============================] - 0s 6ms/step - loss: 232.4467
Epoch 12/50
23/23 [==============================] - 0s 4ms/step - loss: 226.3958
Epoch 13/50
23/23 [==============================] - 0s 9ms/step - loss: 217.8738
Epoch 14/50
23/23 [==============================] - 0s 5ms/step - loss: 212.5562
Epoch 15/50
23/23 [==============================] - 0s 5ms/step - loss: 207.8769
Epoch 16/50
23/23 [==============================] - 0s 5ms/step - loss: 206.1216
Epoch 17/50
23/23 [==============================] - 0s 7ms/step - loss: 197.3684
Epoch 18/50
23/23 [==============================] - 0s 5ms/step - loss: 188.6826
Epoch 19/50
23/23 [==============================] - 0s 4ms/step - loss: 184.0149
Epoch 20/50
23/23 [==============================] - 0s 7ms/step - loss: 176.1656
Epoch 21/50
23/23 [==============================] - 0s 6ms/step - loss: 171.3129
Epoch 22/50
23/23 [==============================] - 0s 6ms/step - loss: 166.4726
Epoch 23/50
23/23 [==============================] - 0s 6ms/step - loss: 163.9828
Epoch 24/50
23/23 [==============================] - 0s 4ms/step - loss: 161.5588
Epoch 25/50
23/23 [==============================] - 0s 6ms/step - loss: 158.8925
Epoch 26/50
23/23 [==============================] - 0s 4ms/step - loss: 147.5631
Epoch 27/50
23/23 [==============================] - 0s 6ms/step - loss: 144.3126
Epoch 28/50
23/23 [==============================] - 0s 5ms/step - loss: 141.1066
Epoch 29/50
23/23 [==============================] - 0s 3ms/step - loss: 136.9100
Epoch 30/50
23/23 [==============================] - 0s 4ms/step - loss: 138.0424
Epoch 31/50
23/23 [==============================] - 0s 4ms/step - loss: 130.5580
Epoch 32/50
23/23 [==============================] - 0s 5ms/step - loss: 130.1932
Epoch 33/50
23/23 [==============================] - 0s 4ms/step - loss: 122.2177
Epoch 34/50
23/23 [==============================] - 0s 5ms/step - loss: 120.3749
Epoch 35/50
23/23 [==============================] - 0s 7ms/step - loss: 117.4124
Epoch 36/50
23/23 [==============================] - 0s 6ms/step - loss: 117.6145
Epoch 37/50
23/23 [==============================] - 0s 4ms/step - loss: 112.7539
Epoch 38/50
23/23 [==============================] - 0s 3ms/step - loss: 111.6217
Epoch 39/50
23/23 [==============================] - 0s 2ms/step - loss: 110.5012
Epoch 40/50
23/23 [==============================] - 0s 2ms/step - loss: 108.3219
Epoch 41/50
23/23 [==============================] - 0s 4ms/step - loss: 102.8568
Epoch 42/50
23/23 [==============================] - 0s 2ms/step - loss: 103.7873
Epoch 43/50
23/23 [==============================] - 0s 4ms/step - loss: 102.0684
Epoch 44/50
23/23 [==============================] - 0s 3ms/step - loss: 98.5118
Epoch 45/50
23/23 [==============================] - 0s 4ms/step - loss: 100.0255
Epoch 46/50
23/23 [==============================] - 0s 5ms/step - loss: 97.7788
Epoch 47/50
23/23 [==============================] - 0s 4ms/step - loss: 94.0446
Epoch 48/50
23/23 [==============================] - 0s 4ms/step - loss: 91.6299
Epoch 49/50
23/23 [==============================] - 0s 3ms/step - loss: 91.6930
Epoch 50/50
23/23 [==============================] - 0s 2ms/step - loss: 88.3690

## Task # 03
Evaluate the model on the test data and compute the mean squared error between the predicted concrete strength and the actual concrete strength. You can use the mean_squared_error function from Scikit-learn.

In [ ]:
# Make predictions on the test data
y_hat = model.predict(x_test, verbose=0)

# Calculate and print the mean squared error between the predicted and actual target values
mse = mean_squared_error(y_test, y_hat)

print(f'Mean Squared Error: {mse}')

Mean Squared Error: 93.51449963967852

## Task # 04
Repeat steps 1-3, 50 times, i.e., create a list of 50 mean squared errors.

In [ ]:
# Create an empty list to store mean squared errors
mse_list = []

# Set the number of runs
n_runs = 50

# Repeat the following steps 50 times, varying the random_state for data splitting
for i in range(n_runs):
    # Split the data into training and test sets (70% train, 30% test) with different random_state values
    x_train, x_test, y_train, y_test = train_test_split(df[features], target, test_size=0.3, random_state=i)

    # Create the regression model
    model = RegressionModel()

    # Train the model on the training data using n_epochs=50 epochs
    model.fit(x_train, y_train, epochs=n_epochs, verbose=0)

    # Make predictions on the test data
    y_hat = model.predict(x_test, verbose=0)

    # Evaluate the model on the test data and calculate mean squared error
    mean_square_error = mean_squared_error(y_test, y_hat)
    print(f'Mean Squared Error in Run {i + 1}: {mean_square_error}')

    # Append the calculated mean squared error to the list
    mse_list.append(mean_square_error)

Mean Squared Error in Run 1: 131.08550460908262
Mean Squared Error in Run 2: 189.21110429031575
Mean Squared Error in Run 3: 629.4631988062431
Mean Squared Error in Run 4: 308.6146440552042
Mean Squared Error in Run 5: 132.94047307241527
Mean Squared Error in Run 6: 207.50724780361773
Mean Squared Error in Run 7: 239.04248997534825
Mean Squared Error in Run 8: 196.1955242252603
Mean Squared Error in Run 9: 133.77493792822852
Mean Squared Error in Run 10: 124.42138579338013
Mean Squared Error in Run 11: 127.009666007356
Mean Squared Error in Run 12: 172.29787316647923
Mean Squared Error in Run 13: 948.364836997371
Mean Squared Error in Run 14: 779.1939230026834
Mean Squared Error in Run 15: 574.5000046403426
Mean Squared Error in Run 16: 243.2492393006403
Mean Squared Error in Run 17: 1693.2447891031154
Mean Squared Error in Run 18: 134.11276859341586
Mean Squared Error in Run 19: 100.36676572978307
Mean Squared Error in Run 20: 1028.6279138407976
Mean Squared Error in Run 21: 132.23668172730964
Mean Squared Error in Run 22: 141.72396617546877
Mean Squared Error in Run 23: 132.9940086915216
Mean Squared Error in Run 24: 126.65463939972258
Mean Squared Error in Run 25: 383.7348559677983
Mean Squared Error in Run 26: 333.91895009396677
Mean Squared Error in Run 27: 132.31078018129315
Mean Squared Error in Run 28: 243.31252406430198
Mean Squared Error in Run 29: 133.45379437594576
Mean Squared Error in Run 30: 460.486990296274
Mean Squared Error in Run 31: 199.03531855670317
Mean Squared Error in Run 32: 1142.2238396413136
Mean Squared Error in Run 33: 178.93825623670637
Mean Squared Error in Run 34: 333.01397863706416
Mean Squared Error in Run 35: 132.88182586783972
Mean Squared Error in Run 36: 169.087652820513
Mean Squared Error in Run 37: 121.45481339601864
Mean Squared Error in Run 38: 164.50690639976693
Mean Squared Error in Run 39: 112.71949433280474
Mean Squared Error in Run 40: 1269.1851340429291
Mean Squared Error in Run 41: 394.005615423835
Mean Squared Error in Run 42: 650.1694591565337
Mean Squared Error in Run 43: 86.69902614354238
Mean Squared Error in Run 44: 534.3184131662132
Mean Squared Error in Run 45: 713.2525989726107
Mean Squared Error in Run 46: 100.54285881346628
Mean Squared Error in Run 47: 256.50181522657516
Mean Squared Error in Run 48: 148.67098029615832
Mean Squared Error in Run 49: 154.54914491125865
Mean Squared Error in Run 50: 510.8536485708446

## Task # 05
Report the mean and the standard deviation of the mean squared errors.

In [ ]:
# Convert the list of mean squared errors into a NumPy array
mse_list = np.array(mse_list)

# Calculate the mean and standard deviation of the mean squared errors from all runs
mean = np.mean(mse_list)
standard_deviation = np.std(mse_list)

# Report by printing the mean and standard deviation of the mean squared errors
print(f'Mean of {n_runs} runs: {mean}')
print(f'Standard Deviation of {n_runs} runs: {standard_deviation}')

Mean of 50 runs: 353.7332452505476
Standard Deviation of 50 runs: 345.5608714902745

*Please take into consideration that when running these notebooks, the results may display variability owing to several factors. These factors may be random initialization, data partitioning, model training dynamics, variations in the versions of libraries such as Keras and TensorFlow, and/or additional external factors.*